body {
    margin: 0;
    background: url('/img//Background.png') no-repeat center center fixed;;
    background-color: rgb(22, 27, 31);
    background-size: 100% 100%; 
}
@media only screen and (max-width:1100px){
    body{
        margin: 0;
        background: url('/img/Bgmobile.png')no-repeat center center fixed;
        background-color: rgb(22, 27, 31);
        background-size: 100% 100%;
    }
}

@font-face {
    font-family: "Poppins-Thin";
    src: url('/css/fonts/Poppins-Thin.ttf');
}
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url('/css/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: "Poppins-Bold";
    src: url('/css/fonts/Poppins-Bold.ttf');
}
@font-face{
    font-family: "Poppins-Light";
    src: url('/css/fonts/Poppins-Light.ttf')
}
@font-face{
    font-family: "Poppins-Regular";
    src: url('/css/fonts/Poppins-Regular.ttf')
}
:root{
   --fontThin:"Poppins-Thin";
   --fontExtraLight:"Poppins-ExtraLight";
   --fontBold:"Poppins-Bold";
   --fontLight:"Poppins-Light";
   --fontRegular:"Poppins-Regular"
}