@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.main {
    padding: 55px 2%;
}
.template-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-t {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.img-subtext {
    margin-top: 0%;
    margin-right: 29%;
    font-size: 16px;
    color: #fff;
    font-family: var(--fontMedium);
}
.form {
    display: flex;
    margin-top: 7%;
    margin-right: 36%;
}
.input {
    width: 500px;
    height: 35px;
    border: 0px;
    border-radius: 3px;
    margin-left: 30%;
    padding: 10px;
    font-family: var(--fontLight);
}
.button {
    width: 150px;
    height: 56px;
    border: 0px;
    border-radius: 3px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);;
    text-transform: uppercase;
    font-family: var(--fontMedium);
    color: #FFF;
    
}
.img-text{
   font-size: 40px; 
   color: #fff;
   font-family: 'Roboto', sans-serif;
}
  .img-text  strong {
    padding-bottom:5px;
    background: /* gradient can be an image */
    linear-gradient(
      to left, 
      rgb(31, 75, 221) 0%,
      rgb(83, 148, 233) 12%,
      rgb(66, 116, 224) 47%,
      rgb(144, 93, 228) 100%
    )
    left 
    bottom   
    no-repeat; 
    background-size:100% 7px ;
  }
.img-cuad {
    width: 50%;
    margin-left: 2%;
    opacity: 0.6;
}