@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.main {
    padding: 55px 2%;
}
.template-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-t {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.img-subtext {
    margin-top: 0%;
    margin-right: 29%;
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.form {
    display: flex;
    margin-top: 7%;
    margin-right: 36%;
}
.input {
    width: 500px;
    height: 35px;
    border: 0px;
    border-radius: 3px;
    margin-left: 30%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.button {
    width: 150px;
    height: 56px;
    border: 0px;
    border-radius: 3px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    
}
.img-text{
   font-size: 40px; 
   color: #fff;
   font-family: 'Poppins', sans-serif;
}
  .img-text  strong {
    padding-bottom:5px;
    background: /* gradient can be an image */
    linear-gradient(
      to left, 
      rgb(31, 75, 221) 0%,
      rgb(83, 148, 233) 12%,
      rgb(66, 116, 224) 47%,
      rgb(144, 93, 228) 100%
    )
    left 
    bottom   
    no-repeat; 
    background-size:100% 7px ;
  }
.img-cuad {
    width: 50%;
    margin-left: 2%;
    opacity: 0.5;
}
.moviletv{
    display: none;
}
.movilelogo{
    display: none; /*es un hidden */
}
/*Media para que flexbox haga responsiva el sitio*/
@media all and (max-width:1220px){
    .template-text{
        flex-direction: column;
    }
    .img-cuad{
        margin-top: 5%;
    }
    .img-text{
        font-size: 20px;
        text-align: center;
    }
    .img-subtext{
        font-size: 10px;
        text-align: center;
        margin-right: 5%;
    }
    .form{
        margin:  5% 250px 0px 50px;
    }
    .img-cuad{
        display: none;
    }
    .moviletv{
        margin-top: 5%;
        display: block;
    }
    .movilelogo{
        display: block;
    }
}

/*ipadPro*/
@media all and (max-width:1100px){
    .movilelogo{
        margin-top: 175px;
    }
    .img-text{
        font-size: 20px;
        text-align: center;
    }
    .img-subtext{
        text-align: center;
        font-size: 18px;
        
    }
}

@media all and (max-width:600px){
    .img-text{
        font-size: 15px;
        text-align: center;
    }
    .img-subtext{
        text-align: center;
        margin-right: 5%;
    }
    .form{
        margin:  5% 200px 0px 50px;
    }
    .button{
        width: 120px;
        height: 39px;
    }
    .input{
        width: 200px;
        height: 18px;
    }
    .form{
        align-content: center;
    }
    .img-cuad{
        display: none;
    }
    .moviletv{
        margin-top: 5%;
        display: block;
        border-radius: 30px;
        opacity: 0.5;
    }
    .movilelogo{
        margin-top:5%;
    }
}
/*iphone x*/
@media all and (max-width:400px){
    .movilelogo{
        margin-top: 83px;
    }
    .img-text{
        font-size: 10px;
        text-align: center;
    }
    .img-subtext{
        text-align: center;
        font-size: 8px;
        
    }

}